@CHARSET "ISO-8859-1";

/* Recruitment Block: #block-wowguild-wowguild-recruitment */
#block-wowguild-wowguild-recruitment .recruitment-block-roles {
   font-size:x-small;
}
#block-wowguild-wowguild-recruitment .tanks {
	color: #C69B6D; 
}
#block-wowguild-wowguild-recruitment .healers {
	color: #F0EBE0;
}
#block-wowguild-wowguild-recruitment .ranged-dps {
	color: #AAD372;
}
#block-wowguild-wowguild-recruitment .melee-dps {
	color: #FFF468;
}
#block-wowguild-wowguild-recruitment .role-name {
  text-shadow: #000 1px 1px 0px;
  font-weight:bold;
  padding:4px;
}
#block-wowguild-wowguild-recruitment .role-need {
	font-weight: bolder;
	text-align: center;
}
#block-wowguild-wowguild-recruitment .closed {
	color: black;
}
#block-wowguild-wowguild-recruitment .open {
	color: #45A7E2;
}
#block-wowguild-wowguild-recruitment .high {
  color: red;
}
#block-wowguild-wowguild-recruitment .medium {
  color: orange;
}
#block-wowguild-wowguild-recruitment .low {
  color: brown;
}
#block-wowguild-wowguild-recruitment .recruitment-block-application-link {
	font-size: 0.9em;
	text-align: right;
}

#block-wowguild-wowguild-recruitment img.spec-open {
}
#block-wowguild-wowguild-recruitment img.spec-closed {
   opacity: 0.2;
   filter: alpha(opacity=20);
}

/* Wowguild Manual Progression Block: #wowguild-progression-block */
#wowguild-progression-manual-block {
  font-size:x-small;
}

#wowguild-progression-manual-block table td,
#wowguild-progression-manual-block table th {
   vertical-align:middle;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-hidden DIV {
   visibility:hidden;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-raid {
   background-color:#555;
   color:white;
   font-weight:bold;
}

#wowguild-progression-manual-block table td,
#wowguild-progression-manual-block table th {
   border:0;
   padding:3px;
}

#wowguild-progression-manual-block table tr {
   border:1px solid;
}

#wowguild-progression-manual-block table td.wowguild-progression-manual-block-icon-numericsummary {
   text-align:right;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-icon {
   margin:0;
   padding:4px;
   width:22px;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-icon img {
  margin:0;
  padding:0;
  vertical-align:-20%;
}

#wowguild-progression-manual-block td.wowguild-progression-manual-block-normal,
#wowguild-progression-manual-block td.wowguild-progression-manual-block-heroic {
    width:1em;
    text-align:center;
}


#wowguild-progression-manual-block .wowguild-progression-manual-block-completed {
   margin:0;
   padding:2px;
   color:#45A7E2;
   font-weight:bold;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-notcompleted {
   margin:0;
   padding:2px;
   color:#B4B4B4;
}

#wowguild-progression-manual-block .wowguild-progression-manual-block-heroic {
   padding-right:4px;
}

/* Review Guild Application Styles */
#wowguild-review-applications-table .wowguild-change-application-pulldown {
  position: absolute;
  display: none;
  z-index: 100;
  border: 1px solid grey;
  background: #111;
}
#wowguild-review-applications-table .wowguild-change-application-pulldown UL {
	padding: 2em;
	margin: 0;
}
