@CHARSET "ISO-8859-1";

#charsheet_container {
  width: 740px;
  height: 550px;
}

.item_frame_container td,#charsheet_container td {
  vertical-align: top;
}

td.item_popup {
	text-align: center;
}

.charsheet_stats_container {
  width: 100%;
}

.charsheet_stats_container p {
  font-weight: bolder;
  text-align: center;
  border: 0;
  padding: 0;
  margin: 0;
}

.charsheet_stats_container table {
  margin: 0;
}
.charsheet_stats_container tbody {
  border: none;
}
.charsheet_stats_container td {
  padding: 0;
  margin: 0;
  width: 50%;
	border: 1px solid silver;
}
.charsheet_stats_container td td {
	border: none;
}

/** WOWTOON.TPL.PHP **/
.summary-inventory TD {
	padding: 1px;
	border: 0;
}

.wowtoon .validated-img {
	float: right;
	width: 24px;
  height: 24px;
}

.summary-inventory .item-details {
	display: none;
}

.summary-inventory .equip-me {
	border: 5px solid yellow;
}
.summary-inventory .unequip-me {
  border: 5px solid red;
}

.summary-inventory .left-item .slot {
	float: left;
}

.summary-inventory .right-item {
	text-align: right;
}
.summary-inventory .right-item .slot {
	float: right;
}


.summary-inventory .item-link, .summary-inventory .enchant {
	margin-left: 5px;
	margin-right: 5px;
}
.summary-inventory .socket {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.summary-inventory .slot {
	margin-top: 5px;
}
.summary-inventory a.item img {
  height: 44px;
  width: 44px;
}

/* Colored Frames "http://us.battle.net/wow/static/images/icons/frames/inventory-slots.png" */
.summary-inventory a.item .frame, .summary-inventory a.empty .frame {
	display: block;
  background: url("http://us.battle.net/wow/static/images/icons/frames/inventory-slots.png") no-repeat scroll 0 0 transparent;
  height: 49px;
  width: 49px;
}

.summary-inventory a.empty {
	display: block;
  background: url("http://us.battle.net/wow/static/images/character/summary/item-empty-bg.png") no-repeat scroll 0 0 transparent;
  height: 49px;
  width: 49px;
}


.summary-inventory .socket .frame {
	display: inline-block;
  background: url("http://us.battle.net/wow/static/images/icons/frames/sockets.png") no-repeat scroll 0 0 transparent;
  width: 15px;
  height: 15px;
}
.summary-inventory .socket-1 .frame {
    background-position: -45px 0;
}
.summary-inventory .socket-2 .frame {
    background-position: 0 0;
}
.summary-inventory .socket-4 .frame {
    background-position: -15px 0;
}
.summary-inventory .socket-8 .frame {
    background-position: -30px 0;
}
.summary-inventory .socket-6 .frame {
    background-position: -90px 0;
}
.summary-inventory .socket-10 .frame {
    background-position: -75px 0;
}
.summary-inventory .socket-12 .frame {
    background-position: -105px 0;
}
.summary-inventory .socket-14 .frame {
    background-position: -60px 0;
}
.summary-inventory .socket-16 .frame {
    background-position: 0 0;
}
.summary-inventory .socket-32 .frame {
    background-position: -45px 0;
}


.summary-inventory .slot, .summary-inventory a.item, .summary-inventory a.item .frame, .summary-inventory a.empty {
    -moz-border-radius: 4px 4px 4px 4px;
}
<!-- Empty Slot Backgrounds:
	Image: Head, Neck, Sholder, Chest, Tabard, Shirt, Wrist, Gloves, Belt, Legs, Boots, Ring, Relic, Weapon, Shield, Ranged, Trinket
	data id - [slot name] - image number
	 1 - Head - 1          |  10 - Gloves - 8
	 2 - Neck - 2          |   6 - Belt - 9
	 3 - Sholders - 3      |   7 - Legs - 10
	16 - Back -            |   8 - Feet - 11
	 5 - Chest - 4         |  
	 4 - Shirt - 6         |
	19 - Tabard - 5        |
	 9 - Wrist - 7
	
	21 - Weapon - 14 | 15 - Shield - 16 | 28 - Relic - 13
-->
.summary-inventory .slot-head a.empty {
    background-position: 1px 1px;
}
.summary-inventory .slot-neck a.empty {
    background-position: 1px -46px;
}
.summary-inventory .slot-sholders a.empty {
    background-position: 1px -93px;
}
.summary-inventory .slot-chest a.empty {
    background-position: 1px -140px;
}
.summary-inventory .slot-tabard a.empty {
    background-position: 1px -187px;
}
.summary-inventory .slot-shirt a.empty {
    background-position: 1px -234px;
}
.summary-inventory .slot-wrist a.empty {
    background-position: 1px -281px;
}
.summary-inventory .slot-gloves a.empty {
    background-position: 1px -328px;
}
.summary-inventory .slot-belt a.empty {
    background-position: 1px -375px;
}
.summary-inventory .slot-legs a.empty {
    background-position: 1px -422px;
}
.summary-inventory .slot-boots a.empty {
    background-position: 1px -469px;
}
.summary-inventory .slot-finger1 a.empty, .summary-inventory .slot-finger2 a.empty {
    background-position: 1px -516px;
}
.summary-inventory .slot-ranged a.empty {
    background-position: 1px -563px;
}
.summary-inventory .slot-mainHand a.empty {
    background-position: 1px -610px;
}
.summary-inventory .slot-offHand a.empty {
    background-position: 1px -657px;
}
.summary-inventory .slot-ranged a.empty {
    background-position: 1px -704px;
}
.summary-inventory .slot-trinket1 a.empty, .summary-inventory .slot-trinket2 a.empty {
    background-position: 1px -751px;
}


.summary-inventory .item-quality-0 a.item .frame {
    background-position: -49px 0;
}
.summary-inventory .item-quality-1 a.item .frame {
    background-position: -98px 0;
}
.summary-inventory .item-quality-2 a.item .frame {
    background-position: -147px 0;
}
.summary-inventory .item-quality-3 a.item .frame {
    background-position: -196px 0;
}
.summary-inventory .item-quality-4 a.item .frame {
    background-position: -245px 0;
}
.summary-inventory .item-quality-5 a.item .frame {
    background-position: -294px 0;
}
.summary-inventory .item-quality-6 a.item .frame {
    background-position: -343px 0;
}
.summary-inventory .item-quality-7 a.item .frame {
    background-position: -392px 0;
}

#wowtoon-spec-table TD {
  padding: 0;
  text-align: center;
}

#wowtoon-spec-table .active-spec {
	background: #aaa;
}

#wowtoon-spec-table .bar {
	color: #FFF;
  margin: 0.2em 1em;
  text-align: center;
  -moz-border-radius: 3px 3px 3px 3px;
  background: url("http://us.battle.net/wow/static/images/character/summary/health-resource-bg.png") repeat-x scroll 0 0 transparent;
  text-shadow: 1px 1px 1px #000000;  
}
#wowtoon-spec-table .health-bar {
	background-color: #248000;
  background-position: 0 0;
}
#wowtoon-spec-table .resource-0 {
    background-color: #1C8AFF;
    background-position: 0 -23px;
}
#wowtoon-spec-table .resource-1 {
    background-color: #AB0000;
    background-position: 0 -69px;
}
#wowtoon-spec-table .resource-2 {
    background-color: #964414;
    background-position: 0 -115px;
}
#wowtoon-spec-table .resource-3 {
    background-color: #CB9501;
    background-position: 0 -46px;
}
#wowtoon-spec-table .resource-6 {
    background-color: #00ACCB;
    background-position: 0 -92px;
}



#wowtoon-stats-table TD.stat-header {
	width: 50%;
}


#wowtoon-stats-table TABLE.stat-table TD {
}

#wowtoon-stats-table TD {
	vertical-align: top;
}
#wowtoon-stats-table .stat-value {
	text-align: right;
}


/** WOWTOON-TEASER.TPL.PHP **/
.summary-teaser .avatar {
	float: left;
} 
.summary-teaser .name {
	font-size: 1.5em;
	font-weight: bolder;
}
.summary-teaser .guild {
	font-size: 1.2em;
}

.summary-teaser .achevements-spec-ilevel {
  color: #898989;
  padding-top: 2px;
}
.summary-teaser .achevements {
	background: url('http://us.battle.net/wow/static/images/icons/achievements.gif') no-repeat scroll left 7px transparent;
	padding-left: 20px;
}
.summary-teaser .spec {
  padding-left: 20px;
}
.summary-teaser .ilevel {
  padding-left: 20px;
}
/** WOWTOON-POPUP.TPL.PHP **/
.summary-popup IMG.avatar {
	float: left;
	border: 1px solid grey;
	-moz-border-radius: 4px 4px 4px 4px;
}

.summary-popup .popup-text-wrapper {
  margin-left: 55px;
  background: #000;
  border: 1px solid grey;
  -moz-border-radius: 4px 4px 4px 4px;
	color: #fff;
  padding: 4px;
}


/**  WOWTOON-POSTEDBY.TPL.PHP  **/
DIV.summary-postedby {
	width: 150px;
	float: left;
	text-align: center;
	padding-top: 2em;
}
DIV.summary-postedby .level-class-race {
	font-size: 0.8em;
}

/** Select Toon Block **/
#block-wowtoon-wowtoon-select-toon {
	margin: 0 0 20px 0;
	padding: 0;
	background: url("http://us.battle.net/wow/static/images/profile/sidebar-bg.jpg") -10px 0 no-repeat scroll transparent;
}
#select-toon-block-crest {
  min-height: 214px;
}
#select-toon-block-crest.alliance {
  background: url("http://us.battle.net/wow/static/images/character/sidebar-bg-alliance.gif") -10px 0 no-repeat  scroll transparent;
}
#select-toon-block-crest.horde {
  background: url("http://us.battle.net/wow/static/images/character/sidebar-bg-horde.gif") -10px 0 no-repeat scroll transparent;
}
#block-wowtoon-wowtoon-select-toon .content {
	margin:0;
	padding:0;
}

#select-toon-block-current-toon {
	padding: 5px;
}

#select-toon-block-name a {
	padding-right: 20px;
	color: #fff;
	font-size: 1.3em;
}
#select-toon-block-char-arrow {
  background: url("../images/char-arrow.png") 100% 4px scroll no-repeat transparent;
  width: 20px;
  height: 15px;
  float: right;
  display: none;
}
#select-toon-block-level { font-weight: bolder; }
#select-toon-block-guild-name {  }
#select-toon-block-realm {  }

#select-toon-block-manage-toons-link, #select-toon-block-add-character {
	text-align: right;
	font-size: 0.8em;
}

/** Select Toon Block - Pulldown 'Menu' **/
#select-toon-block-pulldown {
	position: absolute;
	width: 300px;
	display: none;
	z-index: 100;
	
	border: 1px solid grey;
	background: #111;
}
#select-toon-block-pulldown .select-toon-block-select-settings {
  font-size: 0.8em;
  float: right;
}

#select-toon-block-pulldown IMG.select-toon-block-select-avatar {
	margin: 3px;
	float: left;
	border: 1px solid grey;
  -moz-border-radius: 3px;
  border-radius: 3px;	
}

#select-toon-block-pulldown .select-toon-block-select-name a {
	font-size: 1.1em;
	color: #fff;
}

#select-toon-block-pulldown UL {
  margin: 0;
  padding: 0;
  list-style: none;
}

#select-toon-block-pulldown UL LI {
	margin: 0;
	padding: 5px;
  border-top: 1px solid #222;
}
/** Match the last LI in #select-toon-block-pulldown **/
#select-toon-block-pulldown UL LI:first-child {
  border-top: 0;
}
#select-toon-block-pulldown LI:hover {
	background: #222;
}


/** View Character Block - #block-wowtoon-wowtoon-browse-toon-form-block **/
#block-wowtoon-wowtoon-browse-toon-form-block FORM {
	clear: both;
	text-align: right;
}
#block-wowtoon-wowtoon-browse-toon-form-block INPUT.form-text {
	width: 95%;
}
#block-wowtoon-wowtoon-browse-toon-form-block .form-item {
	text-align: left;
  margin: 0;
  padding: 0;
}
#block-wowtoon-wowtoon-browse-toon-form-block .field-type-text {
	float: left;
	width: 49%;
	padding: 2px;
}

/** COMMON CLASSES **/

.validated-toon {
	text-decoration: underline;
}
.unvalidated-toon {
}

.shadow {
	text-shadow: #000 1px 1px 0px;
}

.color-q0, .color-q0 a {
    color: #9D9D9D !important;
}
.color-q1, .color-q1 a {
    color: #FFFFFF !important;
}
.color-q2, .color-q2 a {
    color: #1EFF00 !important;
}
.color-q3, .color-q3 a {
    color: #0081FF !important;
}
.color-q4, .color-q4 a {
    color: #C600FF !important;
}
.color-q5, .color-q5 a {
    color: #FF8000 !important;
}
.color-q6, .color-q6 a {
    color: #E5CC80 !important;
}
.color-q7, .color-q7 a {
    color: #E5CC80 !important;
}
.color-c1, .color-c1 a {            /* c1 - Warrior */
    color: #C69B6D !important;
}
.color-c2, .color-c2 a {            /* c2 - Paladin */
    color: #F48CBA !important;
}
.color-c3, .color-c3 a, .color-g2 { /* c3 - Hunter */
    color: #AAD372 !important;
}
.color-c4, .color-c4 a, .color-g1 { /* c4 - Rogue */
    color: #FFF468 !important;
}
.color-c5, .color-c5 a {            /* c5 - Priest */
    color: #F0EBE0 !important;
}
.color-c6, .color-c6 a {            /* c6 - Death Knight */
    color: #C41E3B !important;
}
.color-c7, .color-c7 a {            /* c7 - Shaman */
    color: #2359FF !important;
}
.color-c8, .color-c8 a, .color-g3 { /* c8 - Mage */
    color: #68CCEF !important;
}
.color-c9, .color-c9 a {            /* c9 - Warlock */
    color: #9382C9 !important;
}
.color-c11, .color-c11 a, .color-g4 {/* c11 - Druid */
    color: #FF7C0A !important;
}


/** Items/Achevement Block #wowtoon-items-block #wowtoon-achievement-block **/
#wowtoon-items-block .achevement {
}
#wowtoon-items-block .achevement a {
}
#wowtoon-items-block .time, #wowtoon-achievement-block .time {
  color: #898989;
  font-size: 0.7em;
  text-align: right;
}
#wowtoon-items-block .achevement, #wowtoon-achievement-block .achevement {
	border-bottom: 1px solid #111;
	margin-bottom: 2px;
}
#wowtoon-achievement-block .icon, #wowtoon-items-block .icon {
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin: 2px;
}
#wowtoon-achievement-block .achevement-type-0 { /* Other */
}
#wowtoon-achievement-block .achevement-type-1 a, #wowtoon-achievement-block .achevement-type-3 a { /* Achevement, Criteria */
	color: #FFB100;
}
#block-wowtoon-wowtoon-recent-achevements .achevement-type-3 strong { /* Criteria */
  color: #FEF092;
  font-weight: normal;
}


#wowtoon-achievement-block .achevement-type-100 a, #wowtoon-achievement-block .achevement-type-104 a, #wowtoon-achievement-block .achevement-type-105 a { /* Guild: Achevement, Criteria */
  color: #FFB100;
}

/* Progression Block: #wowtoon-progression-block */
#wowtoon-progression-block .float-right {
	float: right;
}
#wowtoon-progression-block .completed {
	font-weight: bolder;
}
#wowtoon-progression-block .inprogress {
}
#wowtoon-progression-block .notstarted {
  color: #aaa;
}


/* Guild */
.wowguild .guild-tabard-wrapper {
	height: 150px;
}
.guild-tabard-wrapper .field-name-wowtoon-name {
	font-size: 3em;
}
.guild-tabard-wrapper .wowguild-level-members {
  font-size: 1.2em;
}

#guild-tabard {
	float: right;
}

/** Default Tabards if HTML5 not available or turned off **/
.guild-tabard-default-alliance {
  background: url("http://us.battle.net/wow/static/images/guild/tabards/default-alliance.png") no-repeat scroll 0 0 transparent;
  height: 240px;
  width: 216px;
  float: right;
}
.guild-tabard-default-horde {
  background: url("http://us.battle.net/wow/static/images/guild/tabards/default-horde.png") no-repeat scroll 0 0 transparent;
  height: 240px;
  width: 216px;
  float: right;
}


/* AJAX Popup */
#wowtoon-popup {
	display: none;
	position: absolute;
	z-index: 1000;
/*	top: 50%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	min-height: 200px;*/
}